<include file="Public/header" />
	<div id="content">
		<include file="Author/info" />
					<div class="e_cont a_cont">
						<div style="color:red;">
							{$vo.state_str}
						</div>
                        <div class="cont_form clearfix">
                             <div class="form_left">
                              <p class="m_name"><span>*</span>真实姓名：</p>
                           </div>
                           <div class="form_right">
                            <p><input type="text" name="realname" value="{$vo.realname}" info="姓名" class="short_text txtBlue require"></p>
                           </div>
                        </div>
                        <div class="cont_form clearfix">
                             <div class="form_left">
                              <p class="m_name">QQ：</p>
                           </div>
                           <div class="form_right">
                            <p><input type="text" name="qq" value="{$vo.qq}" class="short_text txtBlue"></p>
                           </div>
                        </div>
                        <div class="cont_form clearfix">
                             <div class="form_left">
                              <p class="m_name"><span>*</span>手机号：</p>
                           </div>
                           <div class="form_right">
                            <p><input type="text" name="phone" info="手机号" value="{$vo.phone}" class="short_text txtBlue require"></p>
                           </div>
                        </div>
                        <div class="cont_form clearfix">
                             <div class="form_left">
                              <p class="m_name"><span>*</span>身份证号码：</p>
                           </div>
                           <div class="form_right">
                            <p><input type="text" name="id_card" info="身份证" value="{$vo.id_card}" class="short_text txtBlue require"></p>
                           </div>
                        </div>
                        <div class="cont_form clearfix">
                             <div class="form_left">
                              <p class="m_name"><span>*</span>Email：</p>
                           </div>
                           <div class="form_right">
                            <p><input type="text" name="email" info="Email" value="{$vo.email}" class="short_text txtBlue require"></p>
                           </div>
                        </div>
                        <div class="cont_form clearfix">
                             <div class="form_left">
                              <p class="m_name"><span>*</span>通讯地址：</p>
                           </div>
                           <div class="form_right">
                            <p><input type="text" info="通讯地址" placeholder="例如：北京市海淀区中关村东路16号唐宁One1栋8单元3001" value="{$vo.address}" name="address" class="long_text txtBlue require"></p>
                           </div>
                        </div>
                        <div class="cont_form clearfix">
                             <div class="form_left">
                              <p class="m_name"><span>*</span>支付信息：</p>
                           </div>
                           <div class="form_right">
                            <p>
                            	<textarea rows="3" info="支付信息" placeholder="请遵循以下任意一种格式" name="yh_card" class="long_text txtBlue require">{$vo.yh_card|default=''}</textarea>
							</p>
                           </div>
                        </div>
                        <div class="cont_form clearfix">
                             <div class="form_left">
                              <p class="m_name">其他：</p>
                           </div>
                           <div class="form_right">
                            <p><input type="text" placeholder="如果还有什么想说的，请写在这里" value="{$vo.remark}" name="remark" class="long_text txtBlue"></p>
                           </div>
                        </div>

                    </div>
                     <br /><br /><br /><br /><br />
	</div>
<include file="Public/footer" />